@{
    var carrito = Context.Session.GetInt32("carrito") == null ? 0 : Context.Session.GetInt32("carrito");
}
@if (carrito > 0) {
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Carrito">Carrito : @carrito</a>
    </li>
}
@if (Context.User.Identity.IsAuthenticated == false) {
    <li class="nav-item">
        <a class="nav-link" asp-action="Perfil" asp-controller="Users">Login</a>
    </li>
} else {
<li class="nav-item">
    <a class="nav-link" asp-action="Perfil" asp-controller="Users">Perfil</a>
</li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Logout" asp-controller="Identity">Logout</a>
    </li>
}


